<div> 
 <p></p>
 <p>Page 1 of 19 </p>
 <p> </p>
 <p>Speech by Michel Barnier at the College of Europe, “Europe after Brexit” </p>
 <p>Natolin, 29 March 2019 </p>
 <p> </p>
 <p> </p>
 <p>[Check against delivery] </p>
 <p> </p>
 <p>Vice-Rector, </p>
 <p>Minister, </p>
 <p>Ambassadors, </p>
 <p>Students and professors, </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>I am happy to be with you today, here in Natolin, at the heart of Poland and of </p>
 <p>Europe. </p>
 <p> </p>
 <p>Vice-Rector, I must say that I feel indebted to your institution since several </p>
 <p>members of my team, including my deputy Sabine Weyand, graduated from </p>
 <p>the College of Europe, both from Bruges and from Natolin. </p>
 <p> </p>
 <p>So, it is a pleasure to meet all of you, the future graduates, on this special day. </p>
 <p> </p>
 <p>Today was long planned to be Brexit day. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 2 of 19 </p>
 <p>This date, 29 March, was chosen by the UK government, when it notified its </p>
 <p>intention to leave the EU, just two years ago. </p>
 <p> </p>
 <p>I personally regretted the UK’s decision to leave the Union. </p>
 <p>In today’s more dangerous, less stable world, with fiercer competition from </p>
 <p>emerging and developed markets, we, Europeans, have strong reasons to be </p>
 <p>even more united, not divided. </p>
 <p> </p>
 <p>But we have of course accepted the sovereign decision of the British people. </p>
 <p>A Member State has the right to leave the Union. The Union is no prison! </p>
 <p>The Union is not a place where countries have to stay against their will. </p>
 <p> </p>
 <p>This is the purpose of Article 50. If there is a door to enter the Union, there </p>
 <p>should also be a door to exit. </p>
 <p>The EU must be a positive project, based on a positive political commitment. </p>
 <p>On contract rather than constraint. </p>
 <p> </p>
 <p>It is a project built by countries and peoples who chose to pursue shared </p>
 <p>dreams: </p>
 <p> peace rather than war, </p>
 <p> solidarity rather than isolation, </p>
 <p> prosperity through cooperation rather than unregulated competition and </p>
 <p>a “race to the bottom”. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 3 of 19 </p>
 <p>It is also a project founded on shared values: human dignity, freedom, </p>
 <p>democracy, equality and, the rule of law. This is the heart of our Union, what </p>
 <p>unites us as Europeans. </p>
 <p>And the EU is a project based on law and principles, which promotes a </p>
 <p>rules-based European and international order. </p>
 <p> </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>Ever since the referendum in 2016, we have been respectful of the UK’s </p>
 <p>choice. No spirit of revenge. No punishment. Never! </p>
 <p> </p>
 <p>With the 27 Member States and the European Parliament, we have built </p>
 <p>coherent positions to allow for the UK’s orderly withdrawal. </p>
 <p>This was made possible by the strong unity of the 27. </p>
 <p>And I am glad that this unity remains very strong, as shown in the </p>
 <p>European Council last week and again today in my discussions with </p>
 <p>Prime Minister Mateusz Morawiecki. </p>
 <p> </p>
 <p>This unity allowed the 27 to reach a deal with the British government – not </p>
 <p>against the British government – in November 2018. </p>
 <p>Our Withdrawal Agreement brings certainty on all the issues where Brexit </p>
 <p>creates uncertainty. </p>
 <p> For EU citizens living in the UK – among whom there are about one </p>
 <p>million Polish citizens – and British nationals in the EU. If they decide to </p>
 <p>stay in the UK, they will keep their current rights, for the rest of their </p>
 <p>lives. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 4 of 19 </p>
 <p> For the many farmers, researchers, regions, businesses and universities </p>
 <p>in each of our countries who are carrying out projects financed by the </p>
 <p>EU budget. All commitments taken at 28 will be honoured at 28. </p>
 <p> </p>
 <p> </p>
 <p> And for the problem created by Brexit in Ireland and Northern Ireland. </p>
 <p> </p>
 <p>o This problem is not only about trade and customs. In order to </p>
 <p>protect peace and stability, both sides have excluded the return of </p>
 <p>a hard border. </p>
 <p> </p>
 <p>o At the same time, as President Juncker has said, Ireland’s borders </p>
 <p>are Europe’s borders. Any goods arriving from Northern Ireland </p>
 <p>will be entering not just Ireland, but also Poland, France or </p>
 <p>Slovakia. Our Agreement makes sure that these goods respect </p>
 <p>EU rules, for instance for food safety, consumer protection and the </p>
 <p>prevention of animal disease. </p>
 <p> </p>
 <p>This agreement required efforts on both sides. </p>
 <p>It represents a carefully balanced compromise. </p>
 <p>It took two years to negotiate and it is not open for renegotiation. </p>
 <p> </p>
 <p>We have also been respectful of the UK’s choice by proposing an ambitious </p>
 <p>future relationship, based on the UK’s red lines, while preserving the integrity </p>
 <p>of the EU Single Market and the autonomy of the Union decision-making </p>
 <p>process. </p>
 <p> </p>
 <p>In a joint political declaration, we agreed on a broad future relationship with a </p>
 <p>free trade area, sectorial cooperation, for instance in aviation, police and </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 5 of 19 </p>
 <p>judicial cooperation and cooperation in foreign policy, external security and </p>
 <p>defence. This is our common interest. </p>
 <p> </p>
 <p>We are ready to be even more ambitious, should the UK’s red lines evolve. For </p>
 <p>instance, we are open to work on the principle of a permanent customs union </p>
 <p>should the UK decide to take this path. </p>
 <p> </p>
 <p>Besides, the UK will also be able to take part in EU programmes that are open </p>
 <p>to third countries, under the conditions and regulations that will be decided in </p>
 <p>the new EU budget for 2021-2027. </p>
 <p> If the UK respects these conditions, and in particular if it pays its proper </p>
 <p>contribution, Polish students could be in a position to study in the UK </p>
 <p>under the Erasmus programme, even after the UK’s withdrawal. </p>
 <p> </p>
 <p> And British universities would still be eligible to engage in research </p>
 <p>projects with their European partners, under the EU programme for </p>
 <p>research and innovation. </p>
 <p> </p>
 <p>Finally, we continue to be respectful of the democratic debate in the UK. </p>
 <p> </p>
 <p>On 15 January, the House of Commons rejected the deal that was agreed </p>
 <p>between Prime Minister May and the 27 Heads of State or Government. </p>
 <p>The UK asked for reassurances on the temporary nature of the backstop for </p>
 <p>Ireland and Northern Ireland. </p>
 <p>We agreed to give those reassurances. </p>
 <p> </p>
 <p>Despite the new guarantees, the House of Commons again rejected the deal on </p>
 <p>12 March. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 6 of 19 </p>
 <p>The House of Commons also rejected the “no deal” scenario. </p>
 <p>And it asked for an extension of the Article 50 period. </p>
 <p> </p>
 <p>Last week, the European Council, under the leadership of Donald Tusk accepted </p>
 <p>this request. </p>
 <p> </p>
 <p>A new vote will take place later today. In case of a positive vote, which would </p>
 <p>be the best outcome, the European Council agreed on a technical extension </p>
 <p>until 22 May, on the eve of the European elections. </p>
 <p> </p>
 <p>The European Council also decided that, should there be no majority for the </p>
 <p>Withdrawal Agreement by today, the UK should indicate a way forward before </p>
 <p>12 April. </p>
 <p> </p>
 <p>Let me be frank: without a positive choice, the default option will be a no deal, </p>
 <p>which has become more likely. It was never our scenario, but the EU27 is now </p>
 <p>prepared. </p>
 <p> </p>
 <p>The debates in the House of Commons continue. We are following it closely. </p>
 <p>What we now need is a positive choice to move forward. </p>
 <p> </p>
 <p>It is the responsibility of each and every member of the House of Commons to </p>
 <p>tell us today what they want. </p>
 <p> </p>
 <p>*** </p>
 <p> </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 7 of 19 </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>For almost two years, we have managed the consequences of Brexit. But we </p>
 <p>also need to draw lessons from Brexit. </p>
 <p>And ask ourselves why in 2016 52 % of the British people voted to leave the </p>
 <p>European Union. </p>
 <p> </p>
 <p>I would like to share with you a few thoughts, analyses, ideas, expressing </p>
 <p>myself in a personal capacity, as an engaged citizen. </p>
 <p> </p>
 <p>Why is Europe misunderstood and sometimes unpopular? </p>
 <p> </p>
 <p>Of course, there is the ideological view of those who argue, and will always </p>
 <p>argue, that one nation alone is better equipped to succeed in global </p>
 <p>competition than a Union of 500 million consumers and 22 million businesses. </p>
 <p> </p>
 <p>Of course, in the 2016 referendum campaign there were some untruths. </p>
 <p> </p>
 <p>There was also a lack of information, as indeed there is in other countries. On </p>
 <p>what the European Union is, on its project, and above all on the benefits of </p>
 <p>being a member. </p>
 <p>There was a terrible lack of debate on what would be the real consequences of </p>
 <p>leaving behind 45 years of cooperation and joint projects – we see the </p>
 <p>consequences of that today in the United Kingdom. </p>
 <p> </p>
 <p>But that is not all. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 8 of 19 </p>
 <p>There is also the feeling that Europe, its governments and institutions are not </p>
 <p>responding to people’s legitimate concerns. </p>
 <p>A Europe that does not protect against the excesses of globalisation. That has </p>
 <p>for too long advocated deregulation and market fundamentalism. Without </p>
 <p>paying enough attention to the social and environmental consequences. </p>
 <p>A Europe that has not been able to fully control its external borders nor show </p>
 <p>solidarity in the face of migration crises. </p>
 <p>A Europe that has sometimes abandoned its industry and has not fully </p>
 <p>anticipated tomorrow’s digital world. </p>
 <p>And above all, the feeling that Europe does not hold out dreams of a better </p>
 <p>future for all Europeans. </p>
 <p> </p>
 <p>Again, this feeling is not unique to the UK. </p>
 <p>We need to listen to this feeling, understand where it comes from, and </p>
 <p>respond to it. </p>
 <p>By acknowledging that Europe has sometimes been wrong. </p>
 <p>And by rediscovering the foundations of a European project that allows each </p>
 <p>Nation, each People, each Citizen to feel protected, and part of a collective </p>
 <p>ambition. </p>
 <p> </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>What has been, and what should be the raison d’être of the </p>
 <p>European project? </p>
 <p>The history of European integration is in fact quite simple. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 9 of 19 </p>
 <p>Since the 1950s, since the Treaty of Rome, Europe has been the choice of </p>
 <p>facing the great transformations of the world and to take control of them </p>
 <p>rather than suffer from them, to be an actor rather than a spectator in one’s </p>
 <p>own destiny. </p>
 <p>To assert a common sovereignty, where the nation state alone is not enough. </p>
 <p>Finally, to pool resources across the continent to define common European </p>
 <p>goods. And carry out projects that are greater than all of us. </p>
 <p> The European Coal and Steel Community, set up in 1951 after a war that </p>
 <p>had left our civilisation and our societies in ruins, allowed both the </p>
 <p>industrial reconstruction of Europe and, through this ‘de facto solidarity’, </p>
 <p>the construction of a lasting peace that we have enjoyed for more than </p>
 <p>70 years. </p>
 <p> </p>
 <p> The common agricultural policy, launched in 1962, has allowed us </p>
 <p>together to regain food sovereignty, preserve diversity, the traceability </p>
 <p>and quality of products, and never to re-live hunger and ration books. </p>
 <p> </p>
 <p> Cohesion policy, developed since 1988, notably under the Jacques Delors </p>
 <p>Commission, has made it possible for the most disadvantaged regions </p>
 <p>gradually to catch up as our Union has enlarged, building shared </p>
 <p>prosperity. And Poland’s economic success is testimony to this. </p>
 <p> </p>
 <p> The progress from a collection of national markets to a common </p>
 <p>market, achieved in 1993, which Commissioner Elżbieta Bieńkowska is </p>
 <p>currently continuing, has encouraged the growth of our businesses, </p>
 <p>especially our small and medium-sized businesses, while giving </p>
 <p>consumers more choice. </p>
 <p> </p>
 <p> And since 1999, the single currency has facilitated trade among us and </p>
 <p>protected us against exchange-rate risk. We forget all too often that, by </p>
 <p>protecting us from American monetary hegemony, the euro is also an </p>
 <p>instrument of emancipation. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 10 of 19 </p>
 <p>We can be proud of all these common European goods! </p>
 <p>And we can be proud to have strengthened them over time, especially since </p>
 <p>1 May 2004, almost 15 years ago, when Poland and nine other countries joined </p>
 <p>the European Union in a great moment of reunification of the European </p>
 <p>continent. </p>
 <p>What other set of nations, what other Continent has so many collective </p>
 <p>achievements to its name? </p>
 <p>And yet, in many of our countries, political forces see the nation as the only </p>
 <p>level of authority relevant to addressing people’s problems. </p>
 <p> </p>
 <p>We need Nations, in particular to fight nationalism. </p>
 <p>Each one has its national identity, its language, its culture, its traditions; Europe </p>
 <p>must respect them. That is what makes Europe so diverse. And at the same </p>
 <p>time we have common values that are the reason we are together. </p>
 <p>Today, once again and even more brutally than in the past, there are major </p>
 <p>global changes that we must face together. </p>
 <p>Faced with challenges such as climate change, migration, industrial and </p>
 <p>technological change and terrorism, faced with the United States’ unilateralist </p>
 <p>temptations, China’s assertiveness or Russia’s influence, our nations alone, </p>
 <p>isolated, just don’t have enough weight. </p>
 <p> </p>
 <p>If we want to meet these challenges, we must rediscover the ambition behind </p>
 <p>the construction of Europe and build new common European goods, shared </p>
 <p>by a community of 27. </p>
 <p> </p>
 <p>* </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 11 of 19 </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>At a time when, in each of our countries, thousands of young people are </p>
 <p>marching to defend the climate, is it not the role of the Union to defend it </p>
 <p>too? </p>
 <p>Climate change does not stop at national borders! It concerns us all: </p>
 <p> Farmers are the first to suffer from floods and droughts. </p>
 <p> City dwellers the first to suffer from poor air quality and all its effects on </p>
 <p>our health. </p>
 <p> </p>
 <p>Faced with this challenge, building a green Europe must be a priority for the </p>
 <p>coming years. </p>
 <p>Together let us take on an ambitious goal: to make Europe the first </p>
 <p>carbon-neutral economy by 2050. </p>
 <p> </p>
 <p>We have powerful levers at European level. We must make full use of them by </p>
 <p>applying a “green priority” in all our budgetary policies and through the full use </p>
 <p>of our regulatory powers. </p>
 <p> In 2005 we set up what is today the largest carbon market in the world </p>
 <p>through the Emissions Trading System, the ETS. </p>
 <p> </p>
 <p> We must get the CO2 price right, and enforce it, including on imported </p>
 <p>emissions. The polluter pays principle should apply to all sectors. </p>
 <p> </p>
 <p> </p>
 <p> </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 12 of 19 </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>At the same time, this green Europe cannot be achieved at the expense of our </p>
 <p>jobs or social cohesion. Nor at the expense of our agriculture and industry, but </p>
 <p>working with them! </p>
 <p>There are a number of regions – I think of Silesia here in Poland and many </p>
 <p>others – that must be accompanied in this transition. </p>
 <p>Industrial ambition is in fact a necessary condition for this ecological transition </p>
 <p>to succeed. </p>
 <p> </p>
 <p>At a time when many are calling for a ‘Green New Deal’, referring to </p>
 <p>Roosevelt’s visionary programme in 1930s America, Europe is the continent </p>
 <p>where we can and must achieve it. </p>
 <p> </p>
 <p>Together we must invest massively in key technologies such as hydrogen, new- </p>
 <p>generation solar panels, green chemistry and batteries. </p>
 <p> </p>
 <p> I read recently that 60 % of existing or planned automotive batteries are </p>
 <p>produced in China, 15 % in the US and less than 4 % in the EU. </p>
 <p> </p>
 <p> We need to react! By using all the levers we have: taxation, green </p>
 <p>finance, and our investment capacity such as through, the European </p>
 <p>Investment Bank and if necessary a Bank for Climate. </p>
 <p> </p>
 <p> </p>
 <p>Together, we need to make our economy more circular. </p>
 <p> </p>
 <p> Today, for seven tonnes of raw materials absorbed by the </p>
 <p>European economy, only one comes from the recycling of waste. This is </p>
 <p>not sustainable! </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 13 of 19 </p>
 <p> </p>
 <p> Let us start by launching a major plan of action against planned </p>
 <p>obsolescence, notably for mobile phones. 500 million Europeans have </p>
 <p>the critical mass to compel manufacturers to act. </p>
 <p> </p>
 <p>Together, in the run-up to the Global Biodiversity Summit in Beijing, we must </p>
 <p>lead this battle, as we did on the climate with the Paris Agreement. </p>
 <p> For years we have been warned about the disappearance of bees. And </p>
 <p>today we learn that one third of all insects are threatened with </p>
 <p>extinction. </p>
 <p> </p>
 <p> Our agricultural practices must continue to evolve, in the context of an </p>
 <p>open debate with our farmers about the modernisation of the Common </p>
 <p>Agricultural Policy, the development of our standards and protection </p>
 <p>against unfair competition from third countries. </p>
 <p> </p>
 <p>On all these issues, let us never lose sight of the fact that the ecological debt </p>
 <p>we pass on to our children is at least as serious as the budgetary debt. </p>
 <p>That is why, in the same way as we have a Stability Pact for our budgets, our </p>
 <p>countries should respond to the challenges of the environment through a </p>
 <p>Sustainability Pact. </p>
 <p> </p>
 <p>* </p>
 <p> </p>
 <p> </p>
 <p> </p>
 <p> </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 14 of 19 </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>At a time when China is asserting itself not just as a partner but also a </p>
 <p>competitor and a strategic rival, is it not Europe’s role also to implement a </p>
 <p>genuine industrial strategy? </p>
 <p> </p>
 <p>We are the most open continent for trade, direct investment and public </p>
 <p>procurement. </p>
 <p> </p>
 <p>To be of real benefit to our businesses, this openness can no longer be one- </p>
 <p>way. Europe can no longer be naïve as it used to be. </p>
 <p>How can we explain that a Chinese or Indian company wins public contracts in </p>
 <p>Europe if our own companies are excluded from tendering in China or India? </p>
 <p>This is why I am pleased that the Commission put forward again in 2016 a </p>
 <p>regulation to impose reciprocity in public procurement, as I myself proposed in </p>
 <p>2012 as Internal Market Commissioner. This proposal must now be made </p>
 <p>operational, and also more binding. </p>
 <p>The recently adopted foreign investment screening mechanism is also going in </p>
 <p>the right direction, but again, probably not far enough. </p>
 <p>Together we must strengthen the toolbox of a ‘Europe that protects’. </p>
 <p> </p>
 <p>That being said, ladies and gentlemen, we would be wrong to think that our </p>
 <p>successes or failures depend only on the behaviour of others. </p>
 <p>If we want a strong industry, we must first take up the challenge of our own </p>
 <p>competitiveness. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 15 of 19 </p>
 <p>By investing together, which is still the best form of protection. </p>
 <p> </p>
 <p>And also by addressing the fundamental issue of skills and human capital. </p>
 <p> In 2017, 43 % of Europeans lacked basic digital skills. This figure is not </p>
 <p>reassuring at a time when digital technologies are becoming the key to </p>
 <p>our competitiveness. </p>
 <p> </p>
 <p> With artificial intelligence we are at the tipping point of a new world </p>
 <p>that will affect every aspect of our lives, from the way we work to our </p>
 <p>leisure time to our health. This is a formidable challenge. Here too, we </p>
 <p>cannot be content just to suffer from the changes that are coming. </p>
 <p> </p>
 <p> Digital training is fundamental. Let’s be inspired by what works! Finland </p>
 <p>has set itself the target to train 1 % of its population in the basic </p>
 <p>concepts of artificial intelligence through public-private partnerships. </p>
 <p> </p>
 <p> Why shouldn’t the EU also set itself the target of training 1 % of its </p>
 <p>population in the next three to five years? As we did with the </p>
 <p>Juncker plan, Europe should now launch a massive investment plan in </p>
 <p>digital skills– Up-skilling Europe. It’s our future jobs that are at stake. </p>
 <p>And our productivity and our ability to create Europe’s future unicorns or </p>
 <p>GAFAs. </p>
 <p> </p>
 <p> Today, the top 20 digital companies are all American or Chinese. One </p>
 <p>company alone, Amazon, invests 14 billion euros a year in research – </p>
 <p>which is more than the research and innovation programme for the </p>
 <p>whole of the EU! In Europe too, the time has come to scale up! </p>
 <p> </p>
 <p>Finally, let us not forget the normative and ethical disruption of digital change. </p>
 <p> </p>
 <p> Through our single market, we still have the ability to impose fair </p>
 <p>competition and have standards adopted worldwide. Not only to </p>
 <p>protect our data. But also to defend our values and our democracy. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 16 of 19 </p>
 <p> </p>
 <p> Artificial intelligence and bio-engineering will increase the risks to our </p>
 <p>model of society and to our conception of the human. Let us not </p>
 <p>underestimate here again the need to act together. </p>
 <p> </p>
 <p> </p>
 <p>* </p>
 <p> </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>I have talked about only two of the changes that require a collective leap </p>
 <p>forward. There are many others. </p>
 <p> </p>
 <p>At a time when the United States is withdrawing from the </p>
 <p>Intermediate-Range Nuclear Forces Treaty, when China is aiming to be the </p>
 <p>world’s leading military power by 2050, when Russia is gaining influence in </p>
 <p>Europe’s neighbourhood, is it not the role of the Union to do more for its </p>
 <p>defence? </p>
 <p>As President Jean-Claude Juncker often says, we cannot be content to fund </p>
 <p>17 different systems of tanks with our national budgets, compared with the </p>
 <p>one single system in the United States. </p>
 <p>We cannot be content to have no operational EU headquarters level worthy of </p>
 <p>the name, when we know that the need for action at Union level, alongside </p>
 <p>NATO, will become ever more pressing. </p>
 <p> </p>
 <p>Finally, faced with the challenge of migration, which is not about to </p>
 <p>disappear, is it not also Europe's role to ensure that our common external </p>
 <p>borders are under control? </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 17 of 19 </p>
 <p>That we work together with the countries of origin on the root causes of </p>
 <p>migration, on defining legal channels and on combating trafficking. </p>
 <p>And that in an area of freedoms without internal borders, each country takes </p>
 <p>its share of responsibility, particularly in the processing of asylum applications. </p>
 <p> </p>
 <p>*** </p>
 <p> </p>
 <p>Ladies and gentlemen, dear students, </p>
 <p> </p>
 <p>Whether we are talking about creating a green Europe, industrial strategy, a </p>
 <p>European defence or common responses to migration, Europe will not be built </p>
 <p>without you. </p>
 <p> </p>
 <p>In a few months’ or a few years’ time, you will be graduates of the College of </p>
 <p>Europe. </p>
 <p>Even before coming to Natolin or Bruges, most of you studied abroad, thanks </p>
 <p>to the Erasmus programme, EU-funded research programmes, or simply the </p>
 <p>free movement of people in the Union. </p>
 <p> </p>
 <p>All this probably seems natural to you. That we take it for granted is proof of </p>
 <p>what we have built together in Europe. </p>
 <p>But let us not forget that these opportunities for exchange in a united Europe </p>
 <p>were unthinkable 30 years ago on both sides of the Iron Curtain. </p>
 <p> </p>
 <p>You are part of a generation of Europeans who live in peace. Which is free as </p>
 <p>no other generation before it. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 18 of 19 </p>
 <p>Let us not forget that these achievements are still fragile. Sudden reversals </p>
 <p>are possible. They are even sought after by many political parties, in each of </p>
 <p>our countries. </p>
 <p> </p>
 <p>If you want to preserve these achievements, this unique way of life in the </p>
 <p>world, take care of Europe! </p>
 <p>Do not accept the status quo! </p>
 <p>Share and defend your vision of Europe! </p>
 <p>Whatever your ideas, get involved, especially in the coming debate for the </p>
 <p>European elections. </p>
 <p>And, in your own areas of responsibility, in business, in public service, in </p>
 <p>education or in the voluntary sector, keep on getting involved and defending </p>
 <p>what you believe in. </p>
 <p> </p>
 <p>A few weeks ago on a train I met Mark, a British professor working in </p>
 <p>Amsterdam on European space policy. </p>
 <p>He summarised his regret about Brexit in one sentence. Eight words of dreams </p>
 <p>and regrets: </p>
 <p>‘Only together can we explore the solar system’. </p>
 <p> </p>
 <p>What is true for the solar system is also true for climate change, the challenge </p>
 <p>of data, defence and the fight against poverty. </p>
 <p>We all have our regrets and our dreams. . </p>
 <p>All I know is that each and every one of us has a role to play in maintaining the </p>
 <p>European dream. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 19 of 19 </p>
 <p>As 27 nations we can and must launch new visionary projects for your </p>
 <p>generation and those to come. </p>
 <p> </p>
 <p>What we do not do for Europe, nobody will do in our place. </p>
 <p> </p>
 <p>Thank you for your attention. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 1 of 12 </p>
 <p> </p>
 <p>Speech by Michel Barnier at the EPC Breakfast </p>
 <p>Brussels, 1 April 2019 </p>
 <p> </p>
 <p> </p>
 <p>[Check against delivery] </p>
 <p> </p>
 <p> </p>
 <p>Good morning ladies and gentlemen, </p>
 <p> </p>
 <p>You have entitled this breakfast discussion “deal or no deal? The state of play </p>
 <p>of Brexit”. </p>
 <p> </p>
 <p>Let’s not forget that we already have an agreement! </p>
 <p> </p>
 <p>It was concluded by Theresa May and the European Council on 25 November </p>
 <p>last year, both on the terms of the withdrawal and on the framework for the </p>
 <p>future relationship. </p>
 <p> </p>
 <p>The EU put a lot of effort into concluding that agreement. </p>
 <p> </p>
 <p>We have been respectful of the UK’s choices. </p>
 <p>We tried to make sure that the UK could leave the EU in an orderly manner on </p>
 <p>29 March, just as the UK had foreseen. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 2 of 12 </p>
 <p>And, if the UK still wants to leave in an orderly fashion, this agreement is the </p>
 <p>best and only one possible. </p>
 <p> </p>
 <p>However, the package that we agreed is still being debated in the UK and the </p>
 <p>House of Commons. There were a number of important votes again last night. </p>
 <p>And the debate continues. </p>
 <p> </p>
 <p>Last Friday, 29 March, the House of Commons voted on the Withdrawal </p>
 <p>Agreement, separate from the political declaration. </p>
 <p>A majority of MPs voted against it. </p>
 <p> </p>
 <p>Some MPs have stated that they agree with the Withdrawal Agreement, but </p>
 <p>they cannot vote in favour of it, in the absence of a closer economic </p>
 <p>relationship. </p>
 <p> </p>
 <p>The House of Commons also consistently rejected leaving the EU without an </p>
 <p>agreement. </p>
 <p>However, the only way to avoid a “no-deal” Brexit is through a positive </p>
 <p>majority. </p>
 <p>We should continue to make this point in the public debate. </p>
 <p> </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>Since there was no positive majority for the Withdrawal Agreement before 29 </p>
 <p>March, the Article 50 period has been extended until 12 April. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 3 of 12 </p>
 <p>The European Council was clear: the UK should now, more than ever, indicate </p>
 <p>a way forward. </p>
 <p> </p>
 <p>I see three possible situations in advance of the European Council called by </p>
 <p>President Tusk on 10 April: </p>
 <p> </p>
 <p>1/ First, there is the possibility of a successful meaningful vote in the coming </p>
 <p>days. </p>
 <p> </p>
 <p>The House of Commons did not manage to find a majority, again, last night in </p>
 <p>its second round of indicative votes. </p>
 <p>We will continue to follow how the process unfolds in the UK. </p>
 <p>On our side, we have always said that we can accept a Customs Union, or a </p>
 <p>relationship similar to the Norway model. </p>
 <p> </p>
 <p>In fact, the Political Declaration as it is today can accommodate all of these </p>
 <p>options already. </p>
 <p>It leaves the door open for a variety of outcomes. </p>
 <p> </p>
 <p>But if the UK so wishes, we are ready to rework the Political Declaration, as </p>
 <p>long as the fundamental principles of the EU are respected. </p>
 <p> </p>
 <p>In any case, should the House of Commons vote in favour of the Withdrawal </p>
 <p>Agreement, this would not be the end of the process in the UK, which would </p>
 <p>still have to formally ratify the Agreement. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 4 of 12 </p>
 <p>I would expect that the European Council would not have too many </p>
 <p>difficulties in agreeing on a short extension for this process to take place. This </p>
 <p>is up to the EU leaders; it is not my decision. </p>
 <p> </p>
 <p>On our side, the European Parliament also needs to ratify the Withdrawal </p>
 <p>Agreement. That is a necessary but also sufficient condition for the orderly </p>
 <p>withdrawal of the UK. </p>
 <p> </p>
 <p>* </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>If the UK Parliament does not vote in favour of the Withdrawal Agreement in </p>
 <p>the coming days, only two options would remain: leaving without an </p>
 <p>agreement or requesting a longer extension of the Article 50 period. </p>
 <p> </p>
 <p>It would be the responsibility of the UK government to choose between these </p>
 <p>options. </p>
 <p> </p>
 <p>2/ “No deal” was never our desired or intended scenario, but day by day it is </p>
 <p>becoming more likely. The EU27 is now prepared. </p>
 <p> </p>
 <p>Since December 2017, the Commission has reached out to all economic </p>
 <p>sectors and stakeholders. In particular, we have published 90 notices to help </p>
 <p>all businesses and stakeholders prepare, in all sectors. </p>
 <p> </p>
 <p>We have also worked with the Member States, and the Commission just </p>
 <p>completed a tour of the 27 to make sure that no question is left unanswered. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 5 of 12 </p>
 <p> National administrations recruited new customs officials. </p>
 <p> They created new Border Inspection Posts for sanitary and phyto- sanitary checks. </p>
 <p> They granted new licenses to financial services. </p>
 <p>At EU level, we have tabled 19 legislative proposals. 17 have been approved. </p>
 <p>The Union will be ready to manage any disruption for the public and businesses </p>
 <p>in the EU27. </p>
 <p>All these measures are temporary, limited in scope and adopted unilaterally by </p>
 <p>the European Union. </p>
 <p> </p>
 <p>The aim of these measures is to protect European interests, not to negotiate </p>
 <p>mini-deals with the United Kingdom. </p>
 <p> </p>
 <p>For example, in order to avoid major disruption in aviation, the EU adopted a </p>
 <p>regulation allowing certain air services between the UK and the European </p>
 <p>Union, for a period of 12 months, and on the condition of reciprocity. This </p>
 <p>proposal ensures basic connectivity. </p>
 <p> </p>
 <p>Another example: we also have now an approved EU regulation on protecting </p>
 <p>social security rights acquired before the withdrawal date. </p>
 <p> </p>
 <p>Only two measures are still pending, on the 2019 budget, and on exempting </p>
 <p>British nationals from the requirement of having short-term visas. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 6 of 12 </p>
 <p>Being prepared for “no deal” does not mean that there will be no disruption. </p>
 <p>Not everything will be smooth. There will be problems. </p>
 <p>Being prepared means that all unforeseen problems should be manageable </p>
 <p>on the EU side. </p>
 <p> </p>
 <p>* </p>
 <p> </p>
 <p>3/ Finally, the UK may ask for another extension. </p>
 <p> </p>
 <p>Such an extension would carry significant risks for the EU. </p>
 <p> </p>
 <p>Therefore, a strong justification would be needed. </p>
 <p> </p>
 <p>Many businesses in the EU warn us against the cost of extending uncertainty. </p>
 <p> </p>
 <p>There would also be a political cost. </p>
 <p> </p>
 <p>In any case, if the UK is still a Member State on 23 May, it will have to organise </p>
 <p>the European elections. It will have to nominate a Member for the next </p>
 <p>European Commission. </p>
 <p> </p>
 <p>The UK would stay longer as a “Member on its way out”. </p>
 <p> </p>
 <p>At the same time, it would prepare its own future, for instance on global trade, </p>
 <p>on British agriculture, on financial services, to name but a few. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 7 of 12 </p>
 <p> </p>
 <p>A long extension could have an impact on the EU’s “space to think” and pose </p>
 <p>a risk for our decision-making autonomy. </p>
 <p> </p>
 <p>* </p>
 <p> </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>Over the last days and weeks, the “no-deal” scenario has become more likely. </p>
 <p>But we can still hope to avoid it. </p>
 <p> </p>
 <p>Our objective remains to ensure an orderly withdrawal, which will create the </p>
 <p>trust we need to build an ambitious future relationship. </p>
 <p> </p>
 <p>In our Political Declaration, we agreed on a broad future relationship with a </p>
 <p>free trade area, sectorial cooperation – for instance in aviation –, police and </p>
 <p>judicial cooperation and cooperation in foreign policy, external security and </p>
 <p>defence. </p>
 <p> </p>
 <p>In an unstable world, marked with new challenges and geopolitical tensions, </p>
 <p>close cooperation is in our common interest. </p>
 <p> </p>
 <p>*** </p>
 <p> </p>
 <p> </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 8 of 12 </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p>If we achieve this objective, we would have succeeded in managing the </p>
 <p>negative consequences of Brexit. </p>
 <p> </p>
 <p>But we also need to draw lessons from Brexit. </p>
 <p> </p>
 <p>It is a question I tried to answer in some more detail in a speech at the College </p>
 <p>of Europe in Natolin last Friday. </p>
 <p> </p>
 <p>We must indeed ask ourselves why in 2016, 52 % of the British people voted </p>
 <p>to leave the European Union. </p>
 <p>Why so many of the younger generations who are pro-Europeans did not come </p>
 <p>out to vote? </p>
 <p>And why Europe was misunderstood and unpopular with an overall majority? </p>
 <p> Of course, there is the ideological view of those who argue, and will </p>
 <p>always argue, that one nation alone is better equipped to succeed in </p>
 <p>global competition than a Union of 500 million consumers and 22 million </p>
 <p>businesses. </p>
 <p> </p>
 <p> Of course, in the 2016 referendum campaign there was misinformation. </p>
 <p> </p>
 <p> There was also a terrible lack of debate on the consequences of leaving </p>
 <p>behind 45 years of cooperation and joint projects; we see the </p>
 <p>consequences of that today in the UK. </p>
 <p> </p>
 <p> There were people who attacked core achievements of the EU, such as </p>
 <p>free movement of people and EU citizenship. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 9 of 12 </p>
 <p> </p>
 <p>But that is not all. </p>
 <p> </p>
 <p>There is also the feeling that Europe, its governments and institutions are not </p>
 <p>responding to legitimate concerns. </p>
 <p> A Europe that does not prepare for, and protect against, the excesses of globalisation. That has for too long advocated economic freedoms without paying enough attention to the social and environmental consequences. </p>
 <p> A Europe that has not been able to fully control its external borders nor stand united in the face of migration and refugee crises. </p>
 <p> A Europe where we have often abandoned jobs and industries without creating the conditions for new ones. </p>
 <p> And above all, the feeling that Europe does not respond to the dreams of Europeans or promise them a better future. </p>
 <p> </p>
 <p>This view is not unique to the UK. </p>
 <p> </p>
 <p>We need to listen, understand where it comes from, and respond. </p>
 <p>Acknowledge that Europe has sometimes been wrong. </p>
 <p>Rediscover a Europe that allows each nation, people, and citizen to feel </p>
 <p>protected and part of a collective ambition. </p>
 <p> </p>
 <p>Ladies and gentlemen, </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 10 of 12 </p>
 <p>The history of the European project, of where it has been successful, is in fact </p>
 <p>quite simple. </p>
 <p>It is the story of when Europe chose to be an actor rather than a spectator of </p>
 <p>the great, often brutal transformations of the world. </p>
 <p>It is when we have chosen to assert a common sovereignty where the nation </p>
 <p>state alone is not enough. </p>
 <p>It is where we have pooled resources across the continent to deliver on </p>
 <p>common European goods. </p>
 <p> </p>
 <p>Think back! </p>
 <p> The European coal and steel community in 1951 consolidated peace and </p>
 <p>rebuilt our industry. </p>
 <p> </p>
 <p> The Common Agricultural Policy, launched in 1962, helped regain food </p>
 <p>sovereignty and never relive hunger and ration books. </p>
 <p> </p>
 <p> Our cohesion policy, developed since 1988 brought new Member States </p>
 <p>into the fold with the promise of solidarity and shared prosperity. The </p>
 <p>reunification of our divided continent is one of our greatest </p>
 <p>achievements. </p>
 <p> </p>
 <p> The Single Market launched in 1993 enlarged markets beyond national </p>
 <p>markets and developed this shared prosperity. </p>
 <p> </p>
 <p> And since 1999, the single currency has facilitated trade and is also </p>
 <p>becoming an instrument of European sovereignty. </p>
 <p> </p>
 <p>And last, let’s not forget, at the foundation of all the above, since the very </p>
 <p>beginning, lies a set of shared values: human dignity, freedom, democracy, </p>
 <p>equality and the rule of law. </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 11 of 12 </p>
 <p>This is the heart of our Union, what unites us as Europeans. </p>
 <p> </p>
 <p>We must be proud of all these achievements. </p>
 <p>But also realise, that today, perhaps even more brutally than in the past, we </p>
 <p>are facing major global challenges on which we must act together. </p>
 <p> </p>
 <p>Climate change, migration, industrial and technological disruptions, and </p>
 <p>terrorism are seismic challenges on which Member States cannot deliver alone. </p>
 <p>Our Union must be an evolving project. </p>
 <p> </p>
 <p>We must be ready to deliver on new European common goods: </p>
 <p> A Green Europe, with the objective to become the first carbon-neutral </p>
 <p>economy by 2050, making our economy more circular and leading the </p>
 <p>battle in protecting biodiversity. </p>
 <p> </p>
 <p> A modern industrial strategy to show that Europe is open but not naïve, </p>
 <p>ready to invest in digital and artificial intelligence, capable of addressing </p>
 <p>the fundamental challenges of skills and human capital. </p>
 <p> </p>
 <p> European defence, pooling our capabilities, as proposed by President </p>
 <p>Jean-Claude Juncker, and reinforcing our operational capacity to act </p>
 <p>together at home, in our neighbourhood and beyond. </p>
 <p> </p>
 <p> An ambitious migration policy, to take control of migration flows coming </p>
 <p>to Europe, combining the protection of our external borders, the fight </p>
 <p>against trafficking, the definition of legal avenues and common </p>
 <p>responsibilities on asylum. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p>Page 12 of 12 </p>
 <p>These are just some examples of what we must now do at 27. Building on the </p>
 <p>unity acquired during the Brexit negotiations. </p>
 <p>In reality, today is no time for regrets. The world is fast outpacing Europe. </p>
 <p>Europe cannot remain obsessed by the past, when the rest of the world is </p>
 <p>looking to the future. </p>
 <p>It’s time to step up. What we do not do for Europe, nobody will do in our </p>
 <p>place. </p>
 <p> </p>
 <p>Thank you for your attention. </p>
 <p> </p>
 <p></p>
</div>
<div>
 <p></p>
 <p> Statement by President Juncker on the United Kingdom's withdrawal from the European Union at the European Parliament's plenary session Brussels, 3 April 2019 </p>
 <p>European Commission - Speech - [Check Against Delivery] </p>
 <p>President Tajani, </p>
 <p>Honourable Members of this House, </p>
 <p> </p>
 <p>The developments in Westminster over the past days have convinced me of what I already knew. The best way forward is the ratification of the Withdrawal Agreement. It has already been agreed by the Government of the United Kingdom, endorsed by this House as well as by the European Council. </p>
 <p>In its decision 10 days ago, the European Council paved the way for an extension of the Article 50 negotiation period until the 22 May – on the condition the Withdrawal Agreement was approved by the House of Commons by 29 March. This was not the case. </p>
 <p>In light of Prime Minister May's statement last night, I believe we now have a few more days. If the United Kingdom is in a position to approve the Withdrawal Agreement with a sustainable majority by 12 April, the European Union should be prepared to accept a delay until 22 May. </p>
 <p>But 12 April is the ultimate deadline for the approval of the Withdrawal Agreement by the House of Commons. If it has not done so by then, no further short extension will be possible. After 12 April, we risk jeopardising the European Parliament elections, and so threaten the functioning of the European Union. </p>
 <p>The Withdrawal Agreement is and has always been a compromise. A fair compromise in which both sides obtained some but not all of what they sought. It is the kind of compromise through which the European Union was built. The kind of compromise that enables the European project to advance. The kind of compromise we need at the moment. </p>
 <p>Much of the debate in the House of Commons has related to the future relationship between the European Union and the United Kingdom. The European Union stands ready to add flexibility to the Political Declaration, to pave the way for a close economic partnership between the European Union and the United Kingdom in the future. </p>
 <p>We stand ready to refer to a range of options, from a free trade agreement, to customs arrangements, to a Customs Union all the way to the European Economic Area. The openness we have shown from the start could be laid out, in purest clarity. </p>
 <p>On the EU side, we stand ready to launch the talks and negotiations on the future partnership as soon as the Withdrawal Agreement is signed. Before the ink is dry. The Commission's negotiating team is in place. Michel Barnier, our Chief Negotiator, is ready. I would expect the same level of readiness on the United Kingdom side. </p>
 <p>Whether this happens or not depends on the United Kingdom. The European Council gave the United Kingdom the time and the space to decide. </p>
 <p>Yet I believe that a “no deal” at midnight on the 12 April is now a very likely scenario. It is not the outcome I want. But it is an outcome for which I have made sure the European Union is ready. </p>
 <p>We have been preparing since December 2017. We have always known that the logic of Article 50 makes a “no-deal” the default outcome. We have long been aware of the balance of power in the House of Commons. </p>
 <p>In that time, the Commission has published 91 preparedness notices, 32 non-legislative acts, 19 legislative proposals and 3 Communications. We have visited all 27 Member States to support their preparations. We have held 72 seminars with the Member States. </p>
 <p>The measures we and the Member States have taken will mitigate the worst impact of a “no-deal” scenario. The protection offered is real. The measures will make sure that EU and UK citizens can continue to live and work where they are at the moment. They make sure that planes can take off and land. We have adapted our financial instrument to make it possible to help fishing communities. We have identified the ways in which law enforcement cooperation can continue. We have taken steps to</p>
 <p></p>
</div>
<div>
 <p></p>
 <p>SPEECH/19/1970 </p>
 <p>mitigate disruption on our financial markets. </p>
 <p>The measures we have taken are time-limited and unilateral. They provide a cushion for key EU interests at least until the end of the year. But disruption will be inevitable for citizens, for businesses and for almost every sector. </p>
 <p>The United Kingdom will be affected more than the European Union because there is no such thing as a “managed or negotiated no-deal” and there is no such thing as a “no-deal transition”. </p>
 <p>And whatever happens, the United Kingdom will still be expected to address the three main separation issues. </p>
 <p>Citizens' rights would still need to be upheld and protected.- </p>
 <p>The United Kingdom would still have to honour its financial commitments made as a Member State. </p>
 <p>- </p>
 <p>And thirdly, a solution would still need to be found on the island of Ireland that preserves peace and the internal market. The United Kingdom must fully respect the letter and spirit of the Good Friday Agreement. </p>
 <p>- </p>
 <p>“No-deal” does not mean no commitments. And these three issues will not go away. They will be a strict condition to rebuild trust and to start talking on the way forward. </p>
 <p>At the European Council next week, we will listen to Prime Minister May's intentions and decide how to proceed. The principles that will guide my actions are clear. I will work until the last moment to avoid a “no-deal” outcome. </p>
 <p>The only ones who would benefit from such disruption are the opponents of the global rules-based order. The only ones who would cheer are the populists and the nationalists. The only ones who would celebrate are those who want both the European Union and the United Kingdom to be weak. </p>
 <p>The European Union will not kick any Member State out. I will personally do everything I can to prevent a disorderly Brexit and I expect political leaders across the EU27 and in the United Kingdom to do the same. </p>
 <p>Thank you. </p>
 <p> </p>
 <p>Press contacts: Margaritis SCHINAS (+ 32 2 296 05 24) Mina ANDREEVA (+32 2 299 13 82) Daniel FERRIE (+32 2 298 65 00) </p>
 <p>General public inquiries: Europe Direct by phone 00 800 67 89 10 11 or by email</p>
 <p></p>
 <div>
  <a href="mailto:margaritis.schinas@ec.europa.eu">mailto:margaritis.schinas@ec.europa.eu</a>
 </div>
 <div>
  <a href="mailto:mina.andreeva@ec.europa.eu">mailto:mina.andreeva@ec.europa.eu</a>
 </div>
 <div>
  <a href="mailto:daniel.ferrie@ec.europa.eu">mailto:daniel.ferrie@ec.europa.eu</a>
 </div>
 <div>
  <a href="http://europa.eu/contact/">http://europa.eu/contact/</a>
 </div>
 <div>
  <a href="http://europa.eu/contact/call-us/index_en.htm">http://europa.eu/contact/call-us/index_en.htm</a>
 </div>
 <div>
  <a href="http://europa.eu/contact/write-to-us/index_en.htm">http://europa.eu/contact/write-to-us/index_en.htm</a>
 </div>
</div>
<ul>
 <li>Statement by President Juncker on the United Kingdom's withdrawal from the European Union at the European Parliament's plenary session</li>
</ul>
